extends layout
block content
    .container-fluid
        .col-lg-12.col-sm-6
            .card.hovercard
                .card-background
                    img.card-bkimg(alt='', src='http://lorempixel.com/100/100/people/9/')
                .useravatar
                    img(alt='', src=user.avatar)
                .card-info
                    span.card-title #{user.name}
            .btn-pref.btn-group.btn-group-justified.btn-group-lg(role='group', aria-label='...')
                .btn-group(role='group')
                    button#stars.btn.btn-primary(type='button', href='#tab1', data-toggle='tab')
                        span.glyphicon.glyphicon-star(aria-hidden='true')
                        .hidden-xs Мои проекты
                .btn-group(role='group')
                    button#favorites.btn.btn-default(type='button', href='#tab2', data-toggle='tab')
                        span.glyphicon.glyphicon-heart(aria-hidden='true')
                        .hidden-xs Мои задачи
                .btn-group(role='group')
                    button#following.btn.btn-default(ype='button', href='#tab3', data-toggle='tab')
                        span.glyphicon.glyphicon-user(aria-hidden='true')
                        .hidden-xs Мои настройки
            .well
                .tab-content
                    #tab1.tab-pane.fade.in.active
                        .row
                            for val in user.projects
                                .col-sm-6.col-md-4.col-lg-3
                                    .thumbnail
                                        img(src=val.cover, alt='...').img-rounded.img-responsive
                                        .caption
                                            h3=val.name
                                            h5=val.description
                                            p
                                                a.btn.btn-warning(href='/board?project=' + val._id, role='button') Перейти к доске проекта
                                            p
                                                a.btn.btn-danger(href="javascript:removeProject('"+val._id+"');" ) Удалить проект
                            .col-sm-6.col-md-4.col-lg-3
                                .thumbnail
                                    img(src='images/addP.png', alt='...')
                                    .caption
                                        h3 Новый проект
                                        p
                                            a.btn.btn-warning(href='#', role='button' data-toggle="modal" data-target="#projectNEW") Создать
                    #tab2.tab-pane.fade.in
                        if user.tasks[0]
                            table(class='table task-table' width='100%')
                                thead
                                    tr
                                        td(width='25%')
                                            h4 Задачи
                                        td(width='25%')
                                            h4 Описание
                                        td(width='25%')
                                            h4 Проект
                                        td(width='25%')
                                            h4 Функции
                                tbody
                                    each v in user.tasks
                                        tr(id=v._id)
                                            td(width='25%')
                                                div.taskCard(class=v.priority)
                                                    a(href="javascript:removeTaskList('" + v._id + "');" class="removeTask")
                                                        button.close(type='button', data-toggle="modal" data-target="#deleteModal")
                                                            span(aria-hidden='true') ×
                                                    h2 Задача #
                                                    h3 #{v._id}
                                                        h4.black-text #{performDate(v.dateOfcreation)}
                                                    a(href="/task/" + v._id) полное описание задачи
                                            td(width='25%')
                                                .content
                                                    h5.black-text !{v.description}
                                            td(width='25%')
                                                each i in user.projects
                                                    if i._id.toString() == v.project.toString()
                                                        h3 #{i.name}
                                            td(width='25%')
                                                h3
                                                    a(href='/board?project=' + v.project) Перейти к проекту
                                                h3
                                                    a(href="javascript:refuseTaskList('" + v._id + "');" class="refuseTask") Отказаться от задачи
                                                h3
                                                    a(href="javascript:removeTaskList('" + v._id + "');" class="removeTask") Удалить задачу
                        else
                            h3.black-text.text-center
                                |Вы пока не добавили задачи в разработку
                    #tab3.tab-pane.fade.in.text-center
                        .btn-pref.btn-group-vertical(role='group', aria-label='...')
                            .btn-group(role='group')
                                button.btn.btn-default(type='button', href='#tab4', data-toggle='tab')
                                    span.glyphicon.glyphicon-paperclip.text-left(aria-hidden='true')
                                        |&nbsp;
                                    span.hidden-xs Имя и Фамилия
                            .btn-group(role='group')
                                button.btn.btn-default(type='button', href='#tab5', data-toggle='tab')
                                    span.glyphicon.glyphicon-earphone.text-left(aria-hidden='true')
                                        | &nbsp;
                                    span.hidden-xs Контакты
                            .btn-group(role='group')
                                button.btn.btn-default(type='button', href='#tab6', data-toggle='tab')
                                    span.glyphicon.glyphicon-wrench.text-left(aria-hidden='true')
                                        | &nbsp;
                                    span.hidden-xs Пароль

                    #tab4.tab-pane.fade.in
                        include changeInfo.pug
                    #tab5.tab-pane.fade.in
                        include changeContacts.pug
                    #tab6.tab-pane.fade.in
                        include changePassword.pug
    include addProjectModal.pug
    script.
        $(".removeTask").confirm({
            title: 'Удалить задачу?',
            content: 'Задача будет удалена',
            buttons: {
                OK: function () {
                    location.href = this.$target.attr('href');
                },
                ОТМЕНА: function () {
                }
            }
        });
        $(".refuseTask").confirm({
            title: 'Отказатсья от задачи?',
            content: 'Задача будет удалена с Вашего списка задач',
            buttons: {
                OK: function () {
                    location.href = this.$target.attr('href');
                },
                ОТМЕНА: function () {
                }
            }
        });
