extends layout
block content
    .container
        .row
            .col-md-12
                .h1.text-center Зарегистрируйтесь
                    br
                    small Вам станут доступны все функции сайта
        .row
            .col-md-4.col-sm-4
            .col-md-4.col-sm-4
                form(action="/registerme" method="POST")
                    .form-group
                        label(for="name") Ваше имя
                        div.forError
                            if errors
                                input(type="text" class="form-control" id="name" name="username" placeholder="Name" value=username)
                                each error in errors
                                    if error.param === 'username'
                                        div.has-error
                                            label.control-label
                                                i(class="fa fa-exclamation-triangle" aria-hidden="true")
                                                    | &nbsp; #{error.msg}
                            else
                                input(type="text" class="form-control" id="name" name="username" placeholder="Name")
                    .form-group
                        label(for="rEmail") Ваш Email
                        div.forError
                            if errors
                                input(type="email" class="form-control" id="rEmail" placeholder="Email" name="useremail" value=useremail)
                                each error in errors
                                    if error.param === 'useremail'
                                        div.has-error
                                            label.control-label
                                                i(class="fa fa-exclamation-triangle" aria-hidden="true")
                                                    | &nbsp; #{error.msg}
                            else
                                input(type="email" class="form-control" id="rEmail" placeholder="Email" name="useremail")
                    .form-group
                        label(for="rPassword") Пароль
                        div.forError
                            if errors
                                input(type = "password" class="form-control" id="rPassword" placeholder="Password" name="userpassword" value=userpassword)
                                each error in errors
                                    if error.param === 'userpassword'
                                        div.has-error
                                            label.control-label
                                                i(class="fa fa-exclamation-triangle" aria-hidden="true")
                                                    | &nbsp; #{error.msg}
                            else
                                input(type="password" class="form-control" id="rPassword" placeholder="Password" name="userpassword")
                    .form-group
                        label(for="сPassword") Повторите пароль
                        div.forError
                            if errors
                                input(type = "password" class="form-control" id="сPassword" placeholder="Password" name="confirmpassword" value=confirmpassword)
                                each error in errors
                                    if error.param === 'confirmpassword'
                                        div.has-error
                                            label.control-label
                                                i(class="fa fa-exclamation-triangle" aria-hidden="true")
                                                    | &nbsp; #{error.msg}
                            else
                                input(type="password" class="form-control" id="сPassword" placeholder="Password" name="confirmpassword")
                    button(type="submit" class="btn btn-success btn-lg btn-block")
                        i(class="fa fa-check" aria-hidden="true")
                        | &nbsp; Зарегистрироваться
                    a(href="/" class="btn btn-danger btn-lg btn-block")
                        i(class="fa fa-times" aria-hidden="true")
                        | &nbsp; Назад
            .col-md-4.col-sm-4
    script.
        $(document).ready(function () {
            var div = $("div.forError");

            div.has('label').addClass('has-error');

        });
