extends layout
block content
    table.table.table-bordered
        tr
            td Задача #
            td #{ task._id }
        tr
            td Статус:
            td #{task.status}
        tr
            td Приоритет:
            td #{task.priority}
        tr
            td Дата постановки:
            td #{performDate(task.dateOfcreation)}
        tr
            td
                a(href="/board") на главную
            td
                a(href="javascript:removeTask('"+task._id+"');" ) удалить задачу
    h3 Описание
    .well !{task.description}
    a(data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample") Нажмите для просмотра вложенных файлов
    .collapse#collapseExample
        div.well
            if task.images !== []
                each val in task.images
                    img(src="/"+val)
            else
                em нет вложенных файлов
